<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khalej.magsala_admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gfs.permission.READ_SERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.MapsActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="7571000" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCaJmmBcJN2UZHfRQPTNObCe7_j3Vdy7_k" />

        <activity android:name=".Activity.Monitor_provider" />
        <activity android:name=".Activity.Delete_porvider" />
        <activity android:name=".Activity.Add_Mwasel" />
        <activity android:name=".Activity.Delete_category" />
        <activity android:name=".Activity.Add_category" />
        <activity android:name=".Activity.Delete_annonce" />
        <activity android:name=".Activity.Add_annonce" />
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>